.row {
  margin: 0 auto;
}

.conteneurPerso {
  width: 90%;
  margin: 0 auto;
}

.container-fluid {
  margin: 0;
}

header {
  position: relative;
  width: 100%;
  height:370px;
  background: url("data/mariosky.png") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
header .row {
  height: 100%;
}

/* rotate icon */

.divicone img:hover {
  transform: rotate(5deg);
}

header h1 {
  color:#f4a443;
  font-size:70px;
  font-family: 'Press Start 2P', cursive;
  text-shadow: 1px 1px 5px black;
}

.logoFooter {
  width: 50px;
  height: 50px;
  background:white;
  border-radius:50%;

}

/* fabien */

.logotitle {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index:1;
}
.btn-burger {
  position:absolute;
  top:15px;
  right:15px;
  z-index:1;
  visibility:hidden;
}
.btn-burger img{
  width:60px;
  height:auto;
}
.headerLogo {
  /*modif*/
  width: 60px;
  margin-left:20px;
  margin-top:20px;
  margin-bottom:20px;*/
  background:white cover;
  border:1px solid white;
  border-radius:50%;
}

.aboutUs {
  color: #B41A23;
  font-size: 1em;
  width: 100%;
  height:auto;
  background:rgb(107, 136, 254);
  background-size: cover;
  overflow: hidden;
}

.aboutUs h1, .font-player {
  font-size: 5vw;
  margin-bottom:80px;
  text-align: center;
  -moz-user-select: none;
  user-select: none;
  animation: test 1s infinite;
  font-family: 'Press Start 2P', cursive;
  color: darkred;
  text-align: center;
  text-shadow: 2px 2px 1px black;
}

.space {
  height: 100px;
  width: auto;
  margin-left: -50%;
  position: relative;
  animation: tzitzit 25s linear infinite;
}

.spaceship {
  height: 100px;
  width: auto;
  margin-left: -75%;
  position: relative;
  border-style: none;
  animation: tzitzitfla 25s linear infinite, rotate 25s steps(1, end) infinite;
}

@keyframes tzitzit {
  0% {
    left: -50%;
  }
  50% {
    left: 250%;
  }
  100% {
    left: -50%;
  }
}

@keyframes tzitzitfla {
  0% {
    left: -75%;
  }
  50% {
    left: 275%;
  }
  100% {
    left: -75%;
  }
}

@keyframes rotate {
  50% {
    transform: rotate(180deg);
  }
}

.mario {
  height: 243px;
  width: 100%;
  background: url("data/fond_mario.jpg") no-repeat center;
  background-size: cover;
}
a:link
{
  text-decoration:none;
  user-select:none;
}

.icone {
  width: 140px;
  height: auto;
  margin-top: -3%;
}

figure {
  text-align: center;
}

figcaption {
  font-size: 22px;
  font-family: 'Press Start 2P', cursive;
  color:white;
  text-shadow:2px 2px 1px black;
  margin-top:-190%;
  visibility:hidden;
}

.divicone :hover figcaption {
  visibility: visible;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.aboutUs h1, .font-player {
  padding-top: 20px;
  font-size: 3em;
  font-weight: bold;
  animation: test 1s infinite;
  font-family: 'Press Start 2P', cursive;
  color: darkred;
  text-align: center;
  text-shadow: 2px 2px 2px white;
}

.font-player {
  padding: 0;
  margin: 0;
}

.aboutUs p {
  font-family:'Press Start 2P', cursive;
  color: white;

  font-size: 1.5em;
  text-align: center;
}

@keyframes test {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* fin fabien */

/* Arnaud */

/* inner-body */

section {
  background-color: white;
}

hr {
  height: 5px;
  background: #f39c12;
  width: 50%;
}

.inner-body {
  background: white;
  margin-bottom: 73px;
  /* background: url(data/back.jpg) center;*/
}

.corps-content {
  padding:50px 0;
}

.corps-image img {
  border: 1px solid black;

}

/* Arcade Modal */

#modalArcade .modal-dialog {
  width: 90%;
  height: 1vh;
  text-align: center;
}

/* Carousel */

#gamesCarousel {
  text-align: center;
}

#gamesCarousel .carousel-inner>.item>img {
  height: 80vh;
}

.blocs {
  width: 100%;
  background: url("data/blocs.jpg") center;
  background-size: contain;
}

/* Pampa Carousel */
.pampa-right img, .pampa-left img {
  width: 90px;
  height: auto;

  position: absolute;
  top: 45%;
}

.pampa-right img {
  transform: scaleX(-1);
  transform: rotate(30deg);
  right: 20%;
}

.pampa-left img {
  transform: rotate(-30deg);
  left: 20%;
}

.pampa-right:hover img {
  transform: rotate(-30deg);
  transition: transform 0.4s;
}

.pampa-left:hover img {
  transform: rotate(30deg);
  transition: transform 0.4s;
}


/*  Restauration */

section h2 {
  padding: 40px;
}

#restauration p {
  font-size: 20px;
  text-align: justify;
}

#myCarousel {
  width: 70%;
  margin-bottom: 3%;
}

#Lsnack div p {
  padding-top: 25px;
}

#Lsnack button {
  margin-top: 30px;
}

/*  Informations complémentaires */

section h2 {
  text-align: center;
  margin: 0;
  padding-top: 40px;
}

section label {
  font-size: 17px;
}

#information {
  font-size: 19px;
}

address {
  margin-left: 20px;
}

/*  Footer   */

footer {
  color: white;
  text-align: center;
  font-size: 18px;
  padding: 30px;
  margin: 0;
  background: url("data/pac_ghost.jpg") no-repeat bottom right, black;
  background-size: 40%;
}

footer a, footer a:focus {
  color: white;
}

footer a:hover {
  text-decoration: none;
  color: orange;
}

footer img {
  height: 80px;
  width: 80px;
}

* {
  font-family: Syncopate;
}

/*  icone */

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 15px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: lightskyblue;
  color: white;
}

/* responsive */

@media screen and (max-width: 768px) {
  .corps-texte, footer, address, section label, .aboutUs p {
    font-size: 15px;
  }
  .corps-texte h1, section h2 {
    font-size: 25px;
  }
  .headerTitle {
    font-size: 50px;
    padding-top: 50px;
  }
  header {
    height: 300px;
  }
  .mario {
    height: 50px;
  }
}

/* Responsive modal */

@media screen and (min-width: 1200px) {
  #modalArcade .modal-dialog {
    width: 60%;
    height: 0.9vh;
  }
}

@media screen and (max-width: 768px) {
  #modalArcade .modal-dialog {
    width: 97%;
    height: 0.9vh;
  }
}
