header {
    margin-top: 90px;
  position: relative;
  width: 100%;
  height: 450px;
  background: url("http://mangamotaku.e-monsite.com/medias/images/slide-arcade.jpg") no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header h1 {
  color: white;
  font-size: 100px;
  font-family: 'Press Start 2P', cursive;
}

.logoFooter {
  width: 50px;
    height: 50px;
}

/* fabien */

.pull-left{ /*modif*/
  width:60px;
  padding-left:1em;
  padding-top:5px;
  color:black;
}
.icone{
  width:60px;
  background:white;
  border-radius:50%;
  border:1px solid black;
  margin-left:100px;
}
.aboutUs{
  color:#B41A23;
  font-size:1em;
}
.aboutUs h1{
    padding-top:50px;
    font-size:4em;
    font-weight:bold;
    text-align:center;

    animation: test 1s infinite;
    font-family: 'Press Start 2P', cursive;
    color: darkred;
    text-align: center;
    text-shadow: 2px 2px 1px black;
}
.aboutUs p{
  color:black;
  padding-top:50px;
  width:70%;
  font-size:1.5em;
  padding-left:30%;
  padding-bottom:50px;
  text-align:justify;
}

@keyframes test {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
      opacity: 1;
  }
}


/* Arnaud */

/* style.css */

/* inner-body */
.inner-body {
	width: 95%;
}

.corps-image img {
	border-radius: 10%;
}

.corps-image {
	background: radial-gradient(rgba(0,0,0,1),rgba(0,0,0,0));
}

/* modal */
.modal * {
	text-align: center;
}

/*  Restauration */


#restauration p {
  font-size: 20px;
  text-align: justify;
  padding-top: 80px;
  margin: 0 50px;
}

#myCarousel {
  height: 450px;
  width: 800px;
}




/*  Informations complémentaires */

section h2 {
  text-align: center;
  margin: 50px 0;
}

section label {
  font-size: 17px;
}

#information {
  font-size: 19px;
}



/*  Footer   */

footer {
  background-color: #363B32;
  color: white;
  margin-top: 20px;
  padding-top: 20px;
  text-align: center;
  font-size: 18px;
  padding: 30px;
}

footer a {
  color: white;
}

footer a:hover {
  text-decoration: none;
  color: #C71EE2;
}

footer img {
  height: 80px;
  width: 80px;
}

/* responsive */
@media screen and (max-width: 768px) {

	.corps-texte {
		font-size: 1.7em;
	}
}
