.conteneurPerso {
  width: 90%;
  margin: 0 auto;
}

.container-fluid {
  margin: 0;
}

header {
  position: relative;
  width: 100%;
  height: 70vh;
  background: url("data/pacman.png") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* rotate icon */

.divicone img:hover {
  transform: rotate(5deg);
}

header h1 {
  color: white;
  font-size: 5vw;
  margin-top: 10vw;
  padding-right: 50px;
  font-family: 'Press Start 2P', cursive;
  text-shadow: 2px 2px 10px black;
}

.logoFooter {
  width: 50px;
  height: 50px;
}

/* fabien */

.logotitle {
  position: absolute;
  top: 15px;
  left: 15px;
}

.headerLogo {
  /*modif*/
  width: 60px;
  /*
  margin-left:20px;
  margin-top:20px;
  margin-bottom:20px;*/
  color: black;
}

.text-logo {
  font-size: 1em;
  color: black;
  padding-left: 10px;
  padding-top: 10px;
  margin-left: 5px;
}

.aboutUs {
  color: #B41A23;
  font-size: 1em;
  width: 100%;
  background: rgb(107, 136, 254);
  background-size: cover;
}

.aboutUs h1, .font-player {
  padding-top: 50px;
  font-size: 5vw;
  font-weight: bold;
  text-align: center;
  -moz-user-select: none;
  user-select: none;
  animation: test 1s infinite;
  font-family: 'Press Start 2P', cursive;
  color: darkred;
  text-align: center;
  text-shadow: 2px 2px 1px black;
}

.mario {
  height: 243px;
  width: 100%;
  background: url("data/fond_mario.jpg") no-repeat center;
  background-size: cover;
}
a:link
{
  text-decoration:none;
}

.icone {
  width:140px;
  height:auto;
  margin-top:-3px;
}

figure {
  text-align: center;
}
figcaption {
  font-size: 22px;
  font-family: 'Press Start 2P', cursive;
  color:white;
  text-shadow:2px 2px 1px black;
  margin-top: -250px;
  visibility:hidden;
}
.divicone :hover figcaption{
  visibility:visible;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.aboutUs h1, .font-player {
  padding-top: 50px;
  font-size: 5vw;
  font-weight: bold;
  animation: test 1s infinite;
  font-family: 'Press Start 2P', cursive;
  color: darkred;
  text-align: center;
  text-shadow: 2px 2px 2px white;
}

.font-player {
  padding: 0;
  margin: 0;
}

.aboutUs p {
  color: white;
  padding-top: 50px;
  font-size: 1.5em;
  padding-bottom: 50px;
  text-align: center;
}

@keyframes test {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* fin fabien */

/* Arnaud */

/* inner-body */

section {
  background-color: white;
}

hr {
  height: 5px;
  background: #f39c12;
  width: 50%;
}

.inner-body {
  border-radius: 15px;
  background: rgba(239, 92, 14, 0.9);
  margin-bottom: 73px;
  /* background: url(data/back.jpg) center;*/
}

/*.corps-content {
  height: 50vh;
}*/

.corps-image {
  border-radius: 15px;
}

.corps-image img {
  border-radius: 15px;
  border: 3px solid black;
  text-align: center;
}

/* Arcade Modal */

#modalArcade .modal-dialog {
  width: 90%;
  height: 1vh;
  text-align: center;
}

/* Carousel */

#gamesCarousel {
  text-align: center;
}

#gamesCarousel .carousel-inner>.item>img {
  height: 80vh;
}

.blocs {
  width: 100%;
  background: url("data/blocs.jpg") center;
  background-size: contain;
}

/*  Restauration */

section h2 {
  padding: 40px;
}

#restauration p {
  font-size: 20px;
  text-align: justify;
}

#myCarousel {
  width: 70%;
  margin-bottom: 3%;
}

#Lsnack div p {
  padding-top: 25px;
}

#Lsnack button {
  margin-top: 30px;
}

/*  Informations complémentaires */

section h2 {
  text-align: center;
  margin: 0;
  padding-top: 40px;
}

section label {
  font-size: 17px;
}

#information {
  font-size: 19px;
}

address {
  margin-left: 20px;
}

/*  Footer   */

footer {
  color: white;
  text-align: center;
  font-size: 18px;
  padding: 30px;
  margin: 0;
  background: url("data/pac_ghost.jpg") no-repeat bottom right, black;
  background-size: 40%;
}

footer a, footer a:focus {
  color: white;
}

footer a:hover {
  text-decoration: none;
  color: orange;
}

footer img {
  height: 80px;
  width: 80px;
}

* {
  font-family: Syncopate;
}

/*  icone */

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 15px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: lightskyblue;
  color: white;
}

/* responsive */

@media screen and (max-width: 768px) {
  .corps-texte, footer, address, section label, .aboutUs p {
    font-size: 15px;
  }
  .corps-texte h1, section h2 {
    font-size: 25px;
  }
  .headerTitle {
    font-size: 50px;
    padding-top: 50px;
  }
  header {
    height: 300px;
  }
  .mario {
    height: 50px;
  }
}

/* Responsive modal */

@media screen and (min-width: 1200px) {
  #modalArcade .modal-dialog {
    width: 60%;
    height: 0.9vh;
  }
}

@media screen and (max-width: 768px) {
  #modalArcade .modal-dialog {
    width: 97%;
    height: 0.9vh;
  }
}
